Flask>=3.0.3
Flask-SQLAlchemy
Flask-WTF
Flask-Babel
Flask-Mail
Flask-Migrate
Flask-Limiter
Flask-Login
Flask-Caching
Flask-Compress
argon2
argon2-cffi
cloudinary
python-dotenv
requests==2.32.4
wtforms
Pillow
Jinja2==3.1.6
SQLAlchemy
APScheduler
limits
Mako
alembic
werkzeug==3.0.6
urllib3==2.5.0
setuptools==78.1.1

