body {
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: rgb(155, 81, 224); /* Colore di sfondo specificato */
}

.nav-link {
    color: #32E04A !important; /* Cambia il colore delle scritte delle voci del menu */
}

.nav-link:hover {
    color: #FFF !important; /* Cambia il colore delle scritte delle voci del menu quando si passa sopra con il mouse */
}

.social-icon {
    font-size: 32px;
    margin: 0 10px;
    color: #000; /* Nero */
    text-decoration: none;
}

.social-icon:hover {
    color: #555; /* Colore di hover */
}

.logo-img {
    max-width: 332px;
    height: 92px;
}

/* Media query per schermi più piccoli */
@media (max-width: 767.98px) {
    .logo-img {
        max-width: 100%;
        height: auto;
    }
}

footer {
    background-color: #000; /* Nero */
    color: #fff; /* Bianco */
    padding: 15px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

.container {
    flex-grow: 1;
}

.container-fluid {
    flex-grow: 1;
}

h1, h2, h3 {
    color: rgb(155, 81, 224);
}

p, ul {
    color: #333;
}

form label {
    color: rgb(155, 81, 224);
}

form button {
    background-color: rgb(155, 81, 224);
    border: none;
}

form button:hover {
    background-color: #a152cc;
}

/* Stile per l'icona dell'hamburger */
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1); /* Cambia il colore del bordo */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(155, 81, 224)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
