{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>About Selenike</h1>
    <p>Selenike is a talented artist known for her unique style and captivating artworks. Explore her journey and learn more about her inspirations and creative process.</p>
    <p>Follow Selenike on social media:</p>
    <ul>
        <li><a href="https://www.facebook.com/selenikeart">Facebook</a></li>
        <li><a href="https://www.instagram.com/selenikeart">Instagram</a></li>
        <li><a href="https://www.patreon.com/selenikeart">Patreon</a></li>
        <!-- Add more social media links as needed -->
    </ul>
</div>
{% endblock %}
