{% extends 'base.html' %}
{% block content %}
<div class="container my-4">
    <h1 class="text-center mb-4 lobster-font">Selenike</h1>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <p><strong>Chi sono - Selenike, Artista e Grafica</strong></p>
            <p>Benvenuti nel mio mondo artistico! Sono Selenike, artista autodidatta e diplomata in grafica pubblicitaria. Il mio percorso nell'arte ha radici nei ricordi d'infanzia, dove le prime linee su un foglio bianco hanno dato il via a un'esplorazione continua della mia espressione personale.</p>

            <p>Il disegno per me va oltre la professione o il hobby; è l'essenza del mio essere, un linguaggio universale con cui condivido storie, emozioni e visioni del mondo. Ogni mia opera è un frammento del mio cuore, un invito a scoprire le profondità della mia anima artistica.</p>

            <p>La mia vita è intrisa di passione per l'arte, intrecciata all'amore per la vita in tutte le sue manifestazioni. Da anni praticante di Kung fu e Karate in adolescenza, ho imparato il valore della disciplina e della resilienza, elementi che influenzano profondamente il mio approccio artistico. Ogni pennellata e tratto di matita è meditato e carico di intenzione.</p>

            <p>Le mie fonti di ispirazione sono variegate: natura, animali, serie TV, videogiochi e fumetti, in particolare i classici come Topolino, che alimentano continuamente la mia immaginazione. Questi interessi si riflettono nelle mie opere, rendendo ogni creazione unica e apprezzata sia da bambini che adulti.</p>

            <p>Il mio studio è un santuario di creatività, popolato di matite, pennarelli, tempere, e colori a olio, oltre al mio inseparabile iPad per il disegno digitale, strumento che mi permette di spingere i confini della mia espressione artistica con nuove tecniche e stili.</p>

            <p>Invito ciascuno di voi a esplorare la mia collezione d'arte, un connubio di tradizione e innovazione, un viaggio attraverso colori vivaci e racconti affascinanti. Che siate alla ricerca di un'opera che rispecchi il vostro spirito avventuroso o che semplicemente aggiunga un tocco di bellezza alla vostra vita quotidiana, in Selenikeart.com troverete arte che tocca il cuore.</p>

        </div>
        <div class="col-lg-6 col-md-12 text-center">
            <img src="{{ url_for('static', filename='img/Selenike.jpeg') }}" alt="Selenike" class="img-fluid rounded">
        </div>
    </div>
</div>
{% endblock %}
