{% extends 'base.html' %}
{% block content %}
<div class="container my-4">
    <h1 class="text-center mb-4 lobster-font">Commissions</h1>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <p><strong>Commissiona un'Opera</strong></p>
            <p>Ciao! Se sei arrivato a questa pagina, significa che sei interessato a commissionare un disegno personalizzato. Sono in grado di realizzare una vasta gamma di opere, dai ritratti a disegni di animali domestici, fino a riprodurre fedelmente una tua foto ricordo o creare una tavola da fumetto.</p>
            <p><strong>Scegli il Formato e il Materiale</strong></p>
            <p>Per iniziare, scegli il formato dell'opera: A3, A4, A5, digitale o cartaceo? E la tecnica di colorazione: preferisci bianco e nero o a colori? Utilizzo diverse tecniche come matite, Pantone, e altre.</p>
            <p><strong>Esplora il Mio Stile</strong></p>
            <p>Ti invito a visitare la sezione Art Gallery e i miei profili social su Facebook, Instagram, Patreon, Twitter e Threads per farti un'idea del mio stile artistico.</p>
            <p><strong>Contattami</strong></p>
            <p>Dopo aver riflettuto su come desideri sviluppare il tuo progetto, utilizza il modulo di contatto qui sotto per inviarmi la tua richiesta. ⬇⬇⬇</p>
            <p>Ti risponderò entro poche ore per discutere ulteriormente del tuo progetto e per definire tutti i dettagli.</p>
            <p>A presto,<br>Selenike</p>
        </div>
        <div class="col-lg-6 col-md-12">
            <h3>Listino Prezzi</h3>
            <ul>
                <li>Ritratto: 30 euro</li>
                <li>Busto: 35 euro</li>
                <li>Mezzo corpo: 55 euro</li>
                <li>Corpo intero: 85 euro (se aggiungi altri personaggi, sono 15 euro in più per personaggio)</li>
                <li>Se includi un animale domestico: 15 euro</li>
                <li>Senza sfondo. (Se aggiungi uno sfondo, sono 25 euro in più)</li>
                <li>Se aggiungi il colore, sono 25 euro in più in tutte le categorie</li>
            </ul>
        </div>
    </div>
    <!-- Contact Form and Image -->
    <div class="row mt-5">
        <div class="col-lg-6 col-md-12 mb-4">
            <h3 class="mb-4">Modulo di Contatto</h3>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Il tuo nome</label>
                        <input type="text" class="form-control" id="name" placeholder="Il tuo nome">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">La tua email</label>
                        <input type="email" class="form-control" id="email" placeholder="La tua email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="subject">Oggetto</label>
                        <input type="text" class="form-control" id="subject" placeholder="Oggetto">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="drawingType">Tipo Disegno</label>
                        <select class="form-control" id="drawingType">
                            <option>Digitale</option>
                            <option>Cartaceo</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="format">Formato</label>
                        <select class="form-control" id="format">
                            <option>A3: 29,7 x 42,0 cm</option>
                            <option>A4: 21,0 x 29,7 cm</option>
                            <option>A5: 14,8 x 21,0 cm</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="message">Il tuo messaggio</label>
                    <textarea class="form-control" id="message" rows="5" placeholder="Il tuo messaggio"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Invia</button>
            </form>
        </div>
        <div class="col-lg-6 col-md-12 text-center">
            <img src="{{ url_for('static', filename='img/Commissioni.jpeg') }}" alt="Commission Image" class="img-fluid rounded">
        </div>
    </div>
</div>
{% endblock %}
