{% extends 'base.html' %}
{% block content %}
<div class="container my-4">
    <h1 class="text-center mb-4 lobster-font">Contattaci</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-success">
                {% for category, message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <form method="POST" action="/contact">
                <div class="form-group">
                    <label for="name">Il tuo nome</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Il tuo nome" required>
                </div>
                <div class="form-group">
                    <label for="email">La tua email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="La tua email" required>
                </div>
                <div class="form-group">
                    <label for="subject">Oggetto</label>
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Oggetto" required>
                </div>
                <div class="form-group">
                    <label for="drawingType">Tipo Disegno</label>
                    <select class="form-control" id="drawingType" name="drawingType" required>
                        <option>Digitale</option>
                        <option>Cartaceo</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="format">Formato</label>
                    <select class="form-control" id="format" name="format" required>
                        <option>A3: 29,7 x 42,0 cm</option>
                        <option>A4: 21,0 x 29,7 cm</option>
                        <option>A5: 14,8 x 21,0 cm</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="message">Il tuo messaggio</label>
                    <textarea class="form-control" id="message" name="message" rows="5" placeholder="Il tuo messaggio" required></textarea>
                </div>
                 <div class="form-group">
                    <input type="checkbox" id="privacy-consent" name="privacy-consent" required>
                    <label for="privacy-consent">Accetto la <a href="/privacy-policy">Politica sulla Privacy</a></label>
                 </div>
                <input type="hidden" id="recaptchaResponse" name="recaptcha_response">

                <button type="submit" class="btn btn-primary">Invia</button>

            </form>
        </div>

        <script src="https://www.google.com/recaptcha/api.js?render=6LfRNVMgAAAAAG-4j_sBpFtjnERUpbtuQWC7r6zG"></script>

<script>
grecaptcha.ready(function() {
    grecaptcha.execute('6LfRNVMgAAAAAG-4j_sBpFtjnERUpbtuQWC7r6zG', {action: 'contact'}).then(function(token) {
        // Puoi aggiungere il token a un campo nascosto nel form o tenerlo per inviarlo con il form
        document.getElementById('recaptchaResponse').value = token;
    });
});
</script>
        <div class="col-lg-6 col-md-12 text-center">
            <img src="{{ url_for('static', filename='img/Logo-Contattaci.png') }}" alt="Contact Image" class="img-fluid rounded">
            <div class="mt-4">
                <p><strong>Pagina Contattaci</strong></p>
                <p>Benvenuti nella pagina di contatto di Selenike Art! Qui potete inviare le vostre richieste per qualsiasi chiarimento riguardante i lavori di Selenike, acquisti dalla sezione Art Gallery, o per risolvere qualsiasi dubbio o domanda relativa al sito. Compilate il modulo con il vostro nome, un indirizzo email che usate regolarmente, l'oggetto e una breve descrizione della vostra richiesta.</p>
                <p><strong>Risposta Veloce</strong></p>
                <p>Garantisco di ricontattarvi entro poche ore per discutere delle vostre esigenze e fornirvi tutte le informazioni necessarie.</p>
                <p>A presto,<br>Selenike</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
