{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <h1 class="text-center mb-4 lobster-font">Art Gallery</h1>
    <p>Se siete interessati a uno dei miei disegni, sia cartacei che digitali, potete scrivere nella sezione Contattaci del sito.</p>
    <!-- Gallery Filter -->
    <div class="gallery-filter text-center mb-4">
        <button class="btn btn-primary" onclick="filterGallery('all')">All</button>
        <button class="btn btn-primary" onclick="filterGallery('animals')">Animals</button>
        <button class="btn btn-primary" onclick="filterGallery('comics')">Comics</button>
        <button class="btn btn-primary" onclick="filterGallery('illustrations')">Illustrations</button>
    </div>

    <div class="row">
        {% for image in images %}
        <div class="col-md-3 mb-4 gallery-item {{ image.category }} show">
            <a href="{{ image.url }}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4" loading="lazy">
                <img src="{{ image.url }}" class="img-fluid rounded">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
