{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <h1 class="text-center mb-4 lobster-font">Art Gallery</h1>
    <p>{{ _('Se siete interessati a uno dei miei disegni, sia cartacei che digitali, potete scrivere nella sezione Contattaci del sito.') }}</p>

    <!-- Gallery Filter -->
    <div class="gallery-filter text-center mb-4">
        <button class="btn btn-primary" onclick="filterGallery('all')">All</button>
        <button class="btn btn-primary" onclick="filterGallery('novita')">Novità</button>
        <button class="btn btn-primary" onclick="filterGallery('commissioni')">Commissioni</button>
        <button class="btn btn-primary" onclick="filterGallery('fanart')">Fan Art</button>
        <button class="btn btn-primary" onclick="filterGallery('ideepersonali')">Idee Personali</button>
    </div>

    <div class="container mt-4">
        <div class="row g-0 justify-content-center">

            {% for image in images %}
            <div class="col-12 col-md-3 col-lg-2 px-0 gallery-item {{ image.category }} show">

                <a href="#" onclick="openImageModal(event, '{{ image.url }}')">
                    <img src="{{ image.url }}" class="img-fluid rounded shadow-lg img-hover gallery-img" loading="lazy" alt="Opera d'arte" style="display:block !important; opacity:1 !important; width:100% !important; max-width:100% !important; height:auto !important; background:#fff !important;">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Modale per Ingrandire le Immagini -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-fullscreen">
            <div class="modal-content bg-transparent border-0">
                <div class="modal-body p-0 d-flex align-items-center justify-content-center">
                    <button class="btn btn-dark position-fixed start-0 top-50 translate-middle-y arrow-left" onclick="prevImage()">
                        <i class="fas fa-chevron-left fa-2x"></i>
                    </button>
                    <img id="modalImage" class="img-fluid rounded shadow-lg" style="max-height: 90vh; width: auto;">
                    <button class="btn btn-dark position-fixed end-0 top-50 translate-middle-y arrow-right" onclick="nextImage()">
                        <i class="fas fa-chevron-right fa-2x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
