{% extends 'base_dashboard.html' %}

{% block content %}
<div class="container mt-5 img-gallery">
    <div class="row">
        {% for category, image_files in images.items() %}
        <div class="col-12">
            <h3>{{ category | capitalize }}</h3>
            <div class="row">
                {% for image in image_files %}
                <div class="col-md-4 col-lg-3 mb-4">
                    <div class="card img-manage">
                        <img src="{{ image['url'] }}" alt="{{ image['filename'] }}" class="card-img-top">
                        <div class="card-body">
                            <button onclick="deleteImage('{{ category }}', '{{ image.filename }}')" class="btn btn-danger">Delete</button>
                            <select class="form-control"
                                    data-category="{{ category }}"
                                    data-filename="{{ image.filename }}"
                                    data-public-id="{{ image.filename }}"
                                    onchange="moveImage(this)">
                                <option value="">Move to...</option>
                                {% for cat in categories %}
                                {% if cat != category %}
                                <option value="{{ cat }}">{{ cat | capitalize }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
